body {
margin: 0;
	padding: 0;
	font-family: Century Gothic;
background: linear-gradient(135deg,rgb(253,200,48) 0%, rgba(243,115,53) 100%);
height:100vh;
}

.logo {
	padding-left: 30px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.column {
  float: left;
  width: 33.33%;
  /* padding: 10px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
	border-radius: 4px;}
}

form{
	width:240px;
	text-align: center;
	margin-right:600px;

}
input{
	width: 300px;
	height: 50px;
	text-align: center;
	background:#ecf0f1;
	border:2px solid transparent;
	border-radius:3px;
	font-size:16px;
	font-weight: 200;
	padding:10px 0;
	transition:border .5s;
}
textarea{
	width: 300px;
	height: 100px;
	text-align: center;
	background:#ecf0f1;
	border:2px solid transparent;
	border-radius:3px;
	font-size:16px;
	font-weight: 200;
	padding:10px 0;
	transition:border .5s;
}
.small_req{
	width: 300px;
	/* height: 40px; */
  padding: 15px 5;
	text-align: center;
	background: rgb(189,189,189);
	border-radius: 3px;
}
.big_req{
	width: 300px;
	/* height: 100px; */
  padding: 40px 5;
	text-align: center;
	background: rgb(189,189,189);
	border-radius: 3px;
}
.currProgress {
  width: 100%;
  background-color: #ddd;
}

.progressBarSmall {
  width: 1%;
  height: 50px;
  background-color: #4CAF50;
}

.currProgressTotal {
	position: absolute;
	left: 25%;
  width: 50%;
  background-color: #ddd;
}

.progressBarTotal {
  width: 1%;
  height: 70px;
  background-color: #4CAF50;
}

input[type=submit]{
	border:2px solid transparent;
	background:#3498db;
	color:white;
	font-size:16px;
	line-height:25px;
	padding:10px 0;
	border-radius:3px;
}
*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}
header{
	background: linear-gradient(135deg,rgb(253,200,48) 0%, rgba(243,115,53) 100%);
height:100vh;
}
ul{

float:right;
list-style-type: none;
margin-top:25px;

}
ul li{
	display:inline-block;
	margin-right:40px;
}
ul li a{
	text-decoration: none;
	color: rgba(255,255,255,0.75);
	padding:5px 0.2px;
	transition: 0.5s ease;

}
ul li a:hover{
	color: rgba(255,255,255,1);
}
ul li a.active{
	border-bottom:2px solid #cd399d4;
	color:#fff;
}
